.mainWrapper {
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 80%;
}

.searchBtn {
  width: 20%;
  background-color: #043869;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBtn:hover {
  background-color: rgb(43, 136, 43);
}