.mainWrapper {
  height: 250px;
  margin: 30px 0px;
  cursor: pointer;
}

.infoWrapper {
  display: grid;
  flex-direction: row;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}
.image {
  width: 80%;
  height: auto;
  align-self: center;
}

.title {
  text-align: center;
  margin: 0 10%;
}