.mainWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 6px;
  font-size: 18px;
}
.mobileSearchWrapper {
  width: 80%;
}
.mobileSearchBtn {
  width: 100%;
  padding: 6px;
  background-color: #225585;
  border: 1px solid #225585;
  color: white;
  font-weight: bold;
}

.searchBtn {
  width: 20%;
  background-color: #043869;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBtn:hover {
  background-color: rgb(43, 136, 43);
}