@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Trirong&display=swap');
.mainWrapper {
  display: flex;
  flex-direction: column;
  
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  /* box-shadow: inset 0px 20px 20px 0px #000, inset 0px -20px 20px 0px #000; */
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.imageWrapper > div {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.imageWrapper >div:nth-child(2) {
  justify-content: flex-end;
}
.title {
  font-size: 20px;
  padding: 0 20px;
}

.cookTime {
  font-size: 20px;
  padding: 0 20px;
}
.image {
  height: auto;
  width: 100%;
}

.checkListWrapper {
  display: flex;
  flex-direction: column;
}
.checkListBtn {
  display: flex;
  width: 100%;
  height: 38px;
  color: white;
  font-size: 25px;
  background-color: #225585;
  justify-content: center;
  align-items: center;
  border: 1px solid #225585;
}

  .checkListBtn:hover {
    background-color: #3480c7 ;
  }

.preCookWrapper {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
 h2 {
  font-family: 'Trirong', serif;
 }

 .backBtn {
  position: fixed;
  border: 1px solid #3480c7;
  border-radius: 45px;
  height: 48px;
  width: 48px;
  background-color: #3480c7;
  opacity: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: .4s ease;
 }

 .arrowWrapper {
   scale: 1.4;
 }