@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&display=swap');

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #225585 ;
  height: 7vh;
}

.headerTitle {
  position: absolute;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  color: white;
}

.dotWrapper {
  align-self: self-start;
  scale: 2;
  margin-left: 20px;
  display: flex;
}