/*TODO make sizing adaptable, not exact measurements*/
.mainWrapper {
  display: flex;
  flex-direction: column;
  height: 93vh;
  position: absolute;
  top:7vh;
  left:0;
  width: 0vw;
  background-color: white;
}